{% extends 'blogs/parent.html' %}
{% load crispy_forms_tags %}
{% block contents %}
<div class="col-11 col-md-8 col-lg-6 mx-auto">
    <form method="post" enctype="multipart/form-data" class="bg-dark text-light p-4 rounded shadow">
        {% csrf_token %}
        <legend class="border-bottom pb-2 mb-4">Update Post details</legend>
        <div class="px-2"> 
            {{ editform|crispy }}
        </div>
        <div class="mt-4">
            <button class="btn btn-outline-warning btn-block">Update Post</button>
        </div>
    </form>
</div>
{% endblock %}