{% extends "blogs/parent.html" %}
{% block contents %}
{% load crispy_forms_tags %}
{% load static %}

<div class="col-11 col-md-8 col-lg-6 mx-auto">
    <form method="post" enctype="multipart/form-data">
        <legend class="mb-4">Make a new post</legend>
        {% csrf_token %}
        <div class="bg-dark text-light p-3 rounded mb-3">
            {{New_post|crispy}}
        </div>
        <button class="btn btn-outline-primary btn-block btn-md-inline">Make a post</button>
    </form>
</div>

<script>
    var blogauthor="{{request.user}}"
    var authorField = document.getElementById("ba");
    if (authorField) {
        authorField.value = blogauthor;
    }
</script>    
{% endblock %}