{% extends "blogs/parent.html" %}
{% block contents %}
{% load crispy_forms_tags %}
{% load static %}
<form method="post" enctype="multipart/form-data" class="w-50 mx-auto">
    <legend>Make a new post </legend>
    {% csrf_token %}
    <div class="bg-dark text-light">{{New_post|crispy}}</div>
    <button class="btn btn-outline-primary">Make a post </button>
</form>
<script>
    var blogauthor="{{request.user}}"
    document.getElementById("ba").value=blogauthor
</script>    
{% endblock %}
<script src="{% static 'blogs/js/jquery.js' %}"></script>
<script src="{% static 'blogs/js/bootstrap.min.js' %}"></script>
</body>
</html>