{% extends 'blogs/parent.html' %}
{% load crispy_forms_tags %}
{% block contents %}

<div class="col-11 col-md-8 col-lg-6 mx-auto bg-dark text-light p-4 rounded shadow">
    <div class="text-center mb-4">
        <img src="{{user.profilemodel.profile_pic.url}}" alt="Profile Picture" width="120" height="120" class="rounded-circle border border-info" style="object-fit: cover;">
        <p class="mt-3 lead font-italic">{{user.profilemodel.bio}}</p>
    </div>

    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <legend class="border-bottom border-secondary pb-2 mb-3">Profile Info</legend>
            {% csrf_token %}
            {{ euform|crispy }}
            {{ pform|crispy }}
        </fieldset>
        <div class="mt-4">
            <button class="btn btn-info btn-block">Update Profile</button>
        </div>
    </form>
</div>

{% endblock %}